<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <form id="myForm">
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude"><br><br>

        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude"><br><br>

        <label for="date">Date:</label>
        <input type="text" id="date" name="date"><br><br>

        <button type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
